body {
    background-color: blue;
    height: 300px;

}

.clock {
    height: 200px;
    width: 200px;
    margin: 0 auto;

    margin-top: 200px;
    padding-top: 25px;

}

.table {

    border: 10px solid white;
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;

}

.hour {
    background-color: black;
    height: 35%;
    left: 48.75%;
    position: absolute;
    top: 15%;
    transform-origin: 50% 100%;
    width: 2.5%;

}

.minute {
    background-color: black;
    height: 45%;
    left: 48.75%;
    position: absolute;
    top: 5%;
    transform-origin: 50% 100%;
    width: 2.5%;

}

.second {
    background-color: black;
    height: 50%;
    left: 48.75%;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 2.5%;

}